@font-face {
	font-family: 'InfoJobs';
	src:url('fonts/InfoJobs.eot?4jeg71');
	src:url('fonts/InfoJobs.eot?#iefix4jeg71') format('embedded-opentype'),
		url('fonts/InfoJobs.woff?4jeg71') format('woff'),
		url('fonts/InfoJobs.ttf?4jeg71') format('truetype'),
		url('fonts/InfoJobs.svg?4jeg71#InfoJobs') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'InfoJobs';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-ArrowDown:before {
	content: "\e600";
}

.icon-ArrowLeft:before {
	content: "\e601";
}

.icon-ArrowUp:before {
	content: "\e602";
}

.icon-Arrow:before {
	content: "\e603";
}

.icon-BurguerMenu:before {
	content: "\e604";
}

.icon-Calendar:before {
	content: "\e605";
}

.icon-Candidaturas:before {
	content: "\e606";
}

.icon-Category:before {
	content: "\e607";
}

.icon-Check:before {
	content: "\e608";
}

.icon-Clock:before {
	content: "\e609";
}

.icon-Close:before {
	content: "\e60a";
}

.icon-Company:before {
	content: "\e60b";
}

.icon-Config:before {
	content: "\e60c";
}

.icon-CV:before {
	content: "\e60d";
}

.icon-Euro:before {
	content: "\e60e";
}

.icon-Facebook:before {
	content: "\e60f";
}

.icon-GooglePlus:before {
	content: "\e610";
}

.icon-Location:before {
	content: "\e611";
}

.icon-Mail:before {
	content: "\e612";
}

.icon-Reload:before {
	content: "\e613";
}

.icon-Search:before {
	content: "\e614";
}

.icon-State:before {
	content: "\e615";
}

.icon-Suitecase:before {
	content: "\e616";
}

.icon-Twitter:before {
	content: "\e617";
}

.icon-User:before {
	content: "\e618";
}

.icon-LinkedIn:before {
	content: "\e619";
}

.icon-Viewdetails:before {
	content: "\e61a";
}

.icon-EditCv:before {
	content: "\e61b";
}

.icon-Home:before {
	content: "\e61c";
}

.icon-QR:before {
	content: "\e61d";
}

.icon-Config-alt:before {
	content: "\e61e";
}

.icon-Edit:before {
	content: "\e61f";
}

.icon-Help:before {
	content: "\e620";
}

.icon-Info:before {
	content: "\e621";
}

.icon-Plus:before {
	content: "\e622";
}

.icon-Smile:before {
	content: "\e623";
}

.icon-Wifi:before {
	content: "\e624";
}

.icon-Alert:before {
	content: "\e625";
}

.icon-Connect:before {
	content: "\e626";
}

.icon-AlertProfile:before {
	content: "\e627";
}

.icon-Hide:before {
	content: "\e628";
}

.icon-News:before {
	content: "\e629";
}

.icon-Flag:before {
	content: "\e62a";
}

.icon-Offers:before {
	content: "\e62b";
}

.icon-Big-check:before {
	content: "\e62c";
}

.icon-BigArrowDown:before {
	content: "\e62d";
}

.icon-BigArrowLeft:before {
	content: "\e62e";
}

.icon-BigArrowUp:before {
	content: "\e62f";
}

.icon-BigArrowRight:before {
	content: "\e630";
}

.icon-BigArrowObliqueLeftDown:before {
	content: "\e631";
}

.icon-BigArrowObliqueRightDown:before {
	content: "\e632";
}

.icon-BigArrowObliqueLeftUp:before {
	content: "\e633";
}

.icon-BigArrowObliqueRightUp:before {
	content: "\e634";
}

.icon-Star:before {
	content: "\e635";
}

.icon-Lock:before {
	content: "\e636";
}

.icon-Menumore:before {
	content: "\e637";
}

.icon-Alert-circle:before {
	content: "\e638";
}

.icon-Save:before {
	content: "\e639";
}

.icon-SaveAs:before {
	content: "\e63a";
}

.icon-OneTime:before {
	content: "\e63b";
}

.icon-Applications:before {
	content: "\e63c";
}

.icon-Attach:before {
	content: "\e63d";
}

.icon-Phone:before {
	content: "\e63e";
}

