




/*------------------------------------*\
    $SITIO
\*------------------------------------*/


@-webkit-viewport {
	width : device-width;
}

@-moz-viewport {
	width : device-width;
}

@-ms-viewport {
	width : device-width;
}

@-o-viewport {
	width : device-width;
}

@viewport {
	width : device-width;
}

html {
	font-size : 100%;
	-webkit-overflow-scrolling : touch;
	-webkit-tap-highlight-color : lighten($basecolor, 75%);
	-webkit-text-size-adjust : 100%;
	-ms-text-size-adjust : 100%;
}

body {
	margin : 0;
	padding : 0;
	width : 100%;
	background-color : transparent;
	font-family : $basefont;
	@include font-size();
	line-height : $baselineheight;
	color : $textcolor;
	background : #bac7cc;
}



.wrapper {
	max-width: 1200px;
    min-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 40px;
	
}

.gap {
    height: 80px;
    
}

.logo {
	
	display: inline-block;
	width: 140px;
    margin-left: -7px;
}

.photo-container {
    width: 100%;
    height: 200px;
    background-color: $contengrey;
    margin-bottom: 10px;
    border: 1px solid $bordercolor;
    overflow: hidden;
    
    img {
        display: block;
    }
    
}

nav {
	position: fixed;
	height: 80px;
	width: 100%;
	background-color: rgba(255,255,255,0.95);
	box-shadow: 0 1px 4px rgba(0,0,0,0.1);
	z-index: 101;
	
	.wrapper {
		display: flex;
		align-items: center;
		height: inherit;
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0 0 0 auto;

		li {
			display: inline-block;
			padding: 20px 20px;

			a {
				color: $darksilk;
				&:visited {
                    color: $darksilk;
                }
				&.current,
				&:hover {
					text-decoration: none;
					color: $dayblue;
				}
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}

}

.landing {
	display: flex;
	padding-top: $gap * 4;
	min-height: 500px;
	align-items: center;
	.wrapper {

	}
	color: $shiro;
	background-image: url(#{$path-images}/header-img.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;

	
	h1 {
		margin: 0 0 10px 0;
		width: 50%;
		font-family: $basefontbold;
		font-weight: normal;
	}

	h2 {
		margin: 0 0 20px 0;
		width: 50%;
		font-family: $basefont;
		font-weight: normal;
		color: $shiro;
	}

	a {
		display: inline-block;
		padding: 0 $gap;
		line-height: $gap * 2;
		background-color: $dayblue;
		color: $shiro;

		&:hover {
			text-decoration: none;
			background-color: darken($dayblue, 5%);
		}
	}
}

.content {
	padding: ($gap * 4)  ($gap * 2) ($gap * 8);
	background-color: $shiro;

	header {
		text-align: center;
		padding: 0 ($gap * 3) ($gap * 4);
	}

	h1 {
		margin: 0 0 ($gap / 2) 0;
	}

	h3 {
		@include font-size(18);
		color: $softscript;
	}
}

.content-grey {
	padding: ($gap * 4)  ($gap * 2) ($gap * 8);
	background-color: $contengrey;
    
	header {
		text-align: center;
		padding: 0 ($gap * 3) ($gap * 4);
	}

	h1 {
		margin: 0 0 ($gap / 2) 0;
	}

	h3 {
		@include font-size(18);
		color: $softscript;
	}
    
}

.download-block {
	position: relative;
	overflow: hidden;
}

.download-links {
	position: absolute;
	top: 100%;
	width: 100%;
	opacity: 0;

	.download-content {
		background-color: $shiro;
		height: 351px;
	}
	h3 {
        position: relative; 
		background-color: $dayblue;
		color: $shiro;
		text-align: center;
		line-height: 40px;
		font-size: 16px;
		font-weight: normal;
        
		a {
            position: absolute;
			color: $shiro;
            text-decoration: none;
            right: 10px;
		}
        
        span{
            line-height: 40px;
            font-size: 18px;
            color: darken($dayblue, 25%);
            -webkit-transition: all 150ms ease;
				transition: all 150ms ease;
            
            &:hover{
                color: $shiro;
                -webkit-transition: all 150ms ease;
				transition: all 150ms ease;
            }
        }
	}

}
	.formats {
		list-style-type: none;
		padding: 0;

		li {
			position: relative;
			float: left;
			height: 120px;
			width: 50%;
			text-align: center;
			border-bottom: 1px solid #f2f2f2;
			vertical-align: middle;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			font-family: $basefontbold;

			&:nth-child(2n+1) {
				border-right: 1px solid #f2f2f2;
			}

			&:hover {
                background-color: #f9f9f9;

			}

			&.pack {
				width: 100%;
				height: 72px;
				border: none;
				transition: all 4;
				-webkit-transition: background-color .12s ease-in-out;
				   -moz-transition: background-color .12s ease-in-out;
					 -o-transition: background-color .12s ease-in-out;
						transition: background-color .12s ease-in-out;

				a {
					height: auto;
					width: auto;
					background: none;


				&:hover {
					color: $dayblue;
				}
				}
			}

			a {
				display: block;
				background: url(../images/file.png) 0 0 no-repeat;
				width: 52px;
				line-height: 66px;
				color: #aeaeae;
            

				// Hit area
				&::before {
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
				}

				&:hover {
					background-position: -52px 0;
					color: $shiro;
					text-decoration: none;
				}
			}

			span {
				display: block;
				color: #aeaeae;
				margin-top: 12px;
			}

			&:hover span,
			&.hover span {
				color: $dayblue;
			}

			&.hover a {
				background-position: -52px 0;
				color: $shiro;
				text-decoration: none;
			}
		}
	}


//////////////////////////////////////////
//      Iconitos        //
//////////////////////////////////////////
.content-blue {
	padding: ($gap * 4)  ($gap * 2) ($gap * 8);
	background-color: $dayblue;
    
	header {
		text-align: center;
		padding: 0 ($gap * 3) ($gap * 4);
	}

	h1 {
		margin: 0 0 ($gap / 2) 0;
        color: $shiro;
	}

	h3 {
		@include font-size(18);
		color: $shiro;
	}
    
    ul {
        display: inline-block;
        list-style: none;
        text-align: center;
        color: #00699b;
        width: 100%;
    }
    
    li {
        display: inline-block;
        text-align: center;
        font-size: 60px;
        margin: 0px ($gap * 1.2) ($gap * 2.5);
        line-height: 40px;
        -webkit-transition: all 150ms ease;
				transition: all 150ms ease;
    
        &:hover{
            color: $shiro;
            -webkit-transition: all 150ms ease;
				transition: all 150ms ease;
        }
    }
    
    .btn-link{
        margin-top: 40px;
    }
    
}


.footer {
	padding: $gap $gap;
	background-color: #2d3133;
    
	p {
		@include font-size(16);
		color: $softscript;
        text-align: center;
	}
    
}











