[class^="iconfont-"],
[class*=" iconfont-"] {
	font-family: 'InfoJobs';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&::after {
		content: attr(data-name);
		position: absolute;
		bottom: -$gap *2;
		display: block;
		width: 100%;
		font-size: 16px;
		font-family: $basefontbold;
		text-align: center;
		opacity: 0;
		-webkit-transition: all .15s ease-in;
				transition: all .15s ease-in;
	}
	&:hover::after {
		opacity: 1;
		bottom: -$gap;
		-webkit-transition: all .15s ease-in;
				transition: all .15s ease-in;
	}
}

.iconfont-ArrowDown::before {
	content: "\e600";
}
.iconfont-ArrowLeft::before {
	content: "\e601";
}
.iconfont-ArrowUp::before {
	content: "\e602";
}
.iconfont-Arrow::before {
	content: "\e603";
}
.iconfont-BurguerMenu::before {
	content: "\e604";
}
.iconfont-Calendar::before {
	content: "\e605";
}
.iconfont-Candidaturas::before {
	content: "\e606";
}
.iconfont-Category::before {
	content: "\e607";
}
.iconfont-Check::before {
	content: "\e608";
}
.iconfont-Clock::before {
	content: "\e609";
}
.iconfont-Close::before {
	content: "\e60a";
}
.iconfont-Company::before {
	content: "\e60b";
}
.iconfont-Config::before {
	content: "\e60c";
}
.iconfont-CV::before {
	content: "\e60d";
}
.iconfont-Euro::before {
	content: "\e60e";
}
.iconfont-Facebook::before {
	content: "\e60f";
}
.iconfont-GooglePlus::before {
	content: "\e610";
}
.iconfont-Location::before {
	content: "\e611";
}
.iconfont-Mail::before {
	content: "\e612";
}
.iconfont-Reload::before {
	content: "\e613";
}
.iconfont-Search::before {
	content: "\e614";
}
.iconfont-State::before {
	content: "\e615";
}
.iconfont-Suitecase::before {
	content: "\e616";
}
.iconfont-Twitter::before {
	content: "\e617";
}
.iconfont-User::before {
	content: "\e618";
}
.iconfont-LinkedIn::before {
	content: "\e619";
}
.iconfont-Viewdetails::before {
	content: "\e61a";
}
.iconfont-EditCv::before {
	content: "\e61b";
}
.iconfont-Home::before {
	content: "\e61c";
}
.iconfont-QR::before {
	content: "\e61d";
}
.iconfont-Config-alt::before {
	content: "\e61e";
}
.iconfont-Edit::before {
	content: "\e61f";
}
.iconfont-Help::before {
	content: "\e620";
}
.iconfont-Info::before {
	content: "\e621";
}
.iconfont-Plus::before {
	content: "\e622";
}
.iconfont-Smile::before {
	content: "\e623";
}
.iconfont-Wifi::before {
	content: "\e624";
}
.iconfont-Alert::before {
	content: "\e625";
}
.iconfont-Connect::before {
	content: "\e626";
}
.iconfont-AlertProfile::before {
	content: "\e627";
}
.iconfont-Hide::before {
	content: "\e628";
}
